/*Card Styles*/
.card{
    border-radius:18px;
  }
  
  .done{
    background-color:green;
    color:white;
    cursor: pointer;
  }
  
  
  .t:hover {
    background-color:rgb(37, 37, 114)
  }

  .todoCard{
    background-color:rgb(201, 83, 28);
    color:white;
    cursor: pointer
  }

  .l:hover{
    background-color:rgb(207, 7, 7)
  }